html {
  font-size: 10pt;
  background-color: black;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;

}

@font-face {
  font-family: 'Creepster';
  src: url('./assets/fonts/Creepster-Regular.ttf')  format('truetype')
}

@font-face {
  font-family: 'Nosifer';
  src: url('./assets/fonts/Nosifer-Regular.ttf')  format('truetype')
}

@font-face {
  font-family: 'HallowenInline';
  src: url('./assets/fonts/HallowenInline.ttf')  format('truetype')
}

@font-face {
  font-family: 'Playfair-Bold';
  src: url('./assets/fonts/PlayfairDisplay-Bold.ttf')  format('truetype')
}
@font-face {
  font-family: 'Playfair';
  src: url('./assets/fonts/PlayfairDisplay-Regular.ttf')  format('truetype')
}

@font-face {
  font-family: 'Halloween';
  src: url('./assets/fonts/Scary-Halloween-Font.ttf')  format('truetype')
}

#app-container {
  width: 100%;
  text-align: center;
  font-size: 10px;
}

#root {
  width: 100vw;
  height: 100vh;
}

#post-container ul:last-child {
  margin-bottom: 0% !important;
}

#login-form input {
  color: white !important;
  font-size: x-large;
}

::placeholder {
  color: white;
}



#super-spooky-background {
  /* background-image: url('https://res.cloudinary.com/dvlthlwhv/image/upload/v1569273577/rv5hqjo0z80q3sr0nffx.jpg'); */
  /* background-image: url('https://res.cloudinary.com/dvlthlwhv/image/upload/v1569268654/q8mljaplrsfzssklh4ie.gif'); */
  /* background-image: url('https://res.cloudinary.com/dvlthlwhv/image/upload/v1569266313/hzhesv50e2lqkg7pfpli.gif');
  background-blend-mode: screen;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  background-attachment: fixed; */
}

/* #page-container img {
  position: fixed;
  top: 40%;
  display: none;
} */
