html {
  font-size: 10pt;
  background-color: black;
}

body {
  width: 100%;
}

@font-face {
  font-family: 'Creepster';
  src: url('./assets/fonts/Creepster-Regular.ttf')  format('truetype')
}

@font-face {
  font-family: 'Nosifer';
  src: url('./assets/fonts/Nosifer-Regular.ttf')  format('truetype')
}

@font-face {
  font-family: 'HallowenInline';
  src: url('./assets/fonts/HallowenInline.ttf')  format('truetype')
}

@font-face {
  font-family: 'Playfair-Bold';
  src: url('./assets/fonts/PlayfairDisplay-Bold.ttf')  format('truetype')
}
@font-face {
  font-family: 'Playfair';
  src: url('./assets/fonts/PlayfairDisplay-Regular.ttf')  format('truetype')
}

@font-face {
  font-family: 'Halloween';
  src: url('./assets/fonts/Scary-Halloween-Font.ttf')  format('truetype')
}

#app-container {
  width: 100%;
  text-align: center;
  font-size: 10px;
}

#page-container {
  /* background-image: url('./assets/lightening.png');
  background-position: top;
  background-blend-mode: screen;
  background-repeat: no-repeat; */
}

/* #page-container img {
  position: fixed;
  top: 40%;
  display: none;
} */
