html {
  font-size: 10pt;
  background-color: black;
}

body {
  width: 100%;
}

#app-container {
  width: 100%;
  text-align: center;
  font-size: 10px;
}

#page-container {
  background-image: url('./assets/lightening.png');
  background-position: top;
  background-blend-mode: screen;
  background-repeat: no-repeat;
}

/* #page-container img {
  position: fixed;
  top: 40%;
  display: none;
} */
